# Untracked files:

/Users/schlinkertc/Flatiron/projects/MLB_Stats/config.py
/Users/schlinkertc/Flatiron/projects/MLB_Stats/__pycache__
/Users/schlinkertc/Flatiron/projects/MLB_Stats/.ipynb_checkpoints/
